[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/freetype"]
	path = dependencies/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "dependencies/efsw"]
	path = dependencies/efsw
	url = https://github.com/SpartanJ/efsw
